<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fwh.mapper.DataMapper" >		
	<select id="Transfer" parameterType="String" resultType="String">
		select data_value from data_dictionary where data_identifier=#{dataIdentify} and data_type=#{dataType}     									
	</select>
</mapper>